html, body {
	height: 100%;
	min-width:880px; !important
	min-height:660px; !important
	overflow:hidden;
}

tr, td {
	padding:0;
}
iframe{
	border:0;
}
#shareContainer {
	display: inline-block;
	background-color: lightblue;
	padding: 5px 15px;
	border-radius: 5px;
	margin-left: 30px;
}
#headerSlideContainer {
	width: 98%;
}
#contentDiv{
	width: 100%;
	padding: 0.5%;
}
.title {
	font-size: 20px;
	font-weight: bold;
}
#toggle {
	cursor: pointer;
	background-color: rgb(128, 128, 128);
	color: white;
	text-align: center;
	width: 100%;
	padding: 8px 0;
	font-size: 20px;
}
#toggle:hover {
	background-color: rgb(172, 172, 172);
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
.ui-dialog { z-index: 1000 !important ;}